# Dependencies
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Logs
*.log
npm-debug.log*

# Vite cache
.vite/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Cache
.cache/

# Testing
playwright-report/
test-results/